$bg-gray: #202020;
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: $bg-gray;
  color: #ffffff;
  z-index: 999;
  .logo {
    font-size: 1.2rem;
    font-weight: 700;
  }

  > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;

    li > ul {
      display: flex;
      align-items: center;
      gap: 10px;
      > li {
        a {
          background: #5914c7;
          padding: 7px 15px;
          border-radius: 10px;
        }
      }
    }
  }

  input {
    width: 300px;
    border-radius: 100px;
    padding: 7px;
    border: 1px solid #555555;
    background: #161616;
  }

  .profile {
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #5914c7;
    > div {
      width: 150px;
      height: 0px;
      margin-top: 55px;
      position: absolute;
      right: 0;
      overflow: hidden;
      transition: 0.5s;
    }
    &:hover {
      > div {
        height: 200px;
      }
    }
    ul {
      background-color: $bg-gray;
      padding: 20px;
      li {
        margin: 10px 0;
        a {
          background-color: transparent;
        }
      }
    }
  }
}

main {
  background: $bg-gray;

  .swiper {
    padding-top: 70px;
  }
  .main-slider {
    width: 100%;
    height: calc(100vh - 70px);
    > div {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000cb;
      }
    }
    h2 {
      position: relative;
      margin-top: 60vh;
      padding-left: 70px;
      font-weight: 700;
      color: #d4d4d4;
      font-size: 4rem;
      letter-spacing: -0.1rem;
    }
    p {
      position: relative;
      padding-left: 75px;
      color: #747474;
    }
  }
}

.movie-card {
  color: #ffffff;
  margin-bottom: 50px;
  .img-wrap {
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
  }

  a > div > div {
    padding-left: 10px;
    margin: 5px 0 30px 0;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.detail-movie {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0ae5;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  background: $bg-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  > div {
    width: 500px;
    padding: 50px 70px;
    background: #2c2c2c;
  }
  h2 {
    font-size: 2.2rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  input {
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    color: #ffffff;
    background: #3b3b3b;
    margin: 10px 0;
    &::placeholder {
      color: #9c9c9c;
    }
  }
  button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: #5914c7;
    border-radius: 10px;
    font-weight: 600;
  }

  hr {
    border-color: #646464;
    margin: 30px 0 20px 0;
  }
  p {
    color: #999;
    margin-bottom: 10px;
  }

  .kakao button {
    background: #fff100;
    color: #3c1e1e;
  }
}

.join {
  div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  nav {
    input {
      width: 20vw;
    }
    > ul {
      padding: 0 20px;
      font-size: 0.8rem;
    }
  }
  main .main-slider h2 {
    font-size: 3rem;
    letter-spacing: -0.05rem;
  }

  .login {
    > div {
      width: 80vw;
    }
  }
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}

.input-error {
  border: 1px solid red;
  outline: none;
}
