.movie-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding: 20px
}

.movie-card{
  /* display: flex; */
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.movie-card2{
  display: flex;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.movie-card2 img {
  width: 50%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.movie-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.movie-title_average {
  justify-content: space-between;
  gap: 10px;
}
.movie-title_average2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.MovieCardButton{
  border-color: black;
}

.movie-genres,
.movie-overview {
  margin-top: 10px;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.genre-list li {
  background: #ddd;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}