nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000000;
  color: #ffffff;
  z-index: 999;
  .logo {
    font-size: 1.2rem;
    font-weight: 700;
  }

  > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;

    li > ul {
      display: flex;
      align-items: center;
      gap: 10px;
      > li {
        a {
          background: #5914c7;
          padding: 7px 15px;
          border-radius: 10px;
        }
      }
    }
  }

  input {
    width: 300px;
    border-radius: 100px;
    padding: 7px;
    color: #000000;
  }
}

main {
  background: #222222;

  .swiper {
    padding-top: 70px;
  }
  .main-slider {
    width: 100%;
    height: calc(100vh - 70px);
    > div {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000cb;
      }
    }
    h2 {
      position: relative;
      margin-top: 60vh;
      padding-left: 70px;
      font-weight: 700;
      color: #d4d4d4;
      font-size: 4rem;
      letter-spacing: -0.1rem;
    }
    p {
      position: relative;
      padding-left: 75px;
      color: #747474;
    }
  }
}

.movie-card {
  color: #ffffff;
  margin-bottom: 50px;
  img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: top;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
  }

  a > div > div {
    padding-left: 10px;
    margin: 5px 0 30px 0;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  > div {
    width: 400px;
  }
  h2 {
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  input {
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    color: #000000;
    margin: 10px 0;
  }
  button {
    width: 400px;
    height: 50px;
    margin-top: 10px;
    background: #5914c7;
    border-radius: 10px;
  }
}

.join {
  div div {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  nav {
    input {
      width: 20vw;
    }
    > ul {
      padding: 0 20px;
      font-size: 0.8rem;
    }
  }
  main .main-slider h2 {
    font-size: 3rem;
    letter-spacing: -0.05rem;
  }

  .login {
    > div {
      width: 80vw;
    }
    button {
      width: 80vw;
    }
  }
}
