/* tailwind 적용 오류
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}
